{%- comment -%}
  Renders the language picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
{%- endcomment -%}

<style>
  .locale-option {
    display: inline-flex;
    align-items: center;
    gap: 0.45rem;
  }

  .locale-flag {
    display: block;
    border-radius: 2px;
    object-fit: cover;
    height: 13px;
  }
</style>

<div class="disclosure">
  {%- assign current_locale_code = localization.language.iso_code | downcase -%}
  {%- assign current_flag_code = current_locale_code -%}
  {%- if current_locale_code contains '-' -%}
    {%- assign current_flag_code = current_locale_code | split: '-' | last | downcase -%}
  {%- endif -%}
  {%- if current_flag_code == 'en' -%}
    {%- assign current_flag_code = 'gb' -%}
  {%- endif -%}

  <button
    type="button"
    class="disclosure__button localization-form__select localization-selector link link--text caption-large focus-inset"
    aria-expanded="false"
    aria-controls="{{ localPosition }}List"
  >
      <span class="locale-option">
        <img
          src="https://flagcdn.com/{{ current_flag_code }}.svg"
          alt="Flag {{ localization.language.endonym_name | escape }}"
          class="locale-flag"
          width="20"
          height="20"
          loading="lazy"
        >
        {{ localization.language.endonym_name }}
      </span>
    {% render 'icon-caret' %}
  </button>
  <div class="disclosure__list-wrapper" hidden>
    <ul id="{{ localPosition }}List" class="disclosure__list list-unstyled">
      {%- for language in localization.available_languages -%}
        {%- assign locale_code = language.iso_code | downcase -%}
        {%- assign flag_code = locale_code -%}
        {%- if locale_code contains '-' -%}
          {%- assign flag_code = locale_code | split: '-' | last | downcase -%}
        {%- endif -%}
        {%- if flag_code == 'en' -%}
          {%- assign flag_code = 'gb' -%}
        {%- endif -%}

        <li class="disclosure__item">
          <a
            class="link link--text disclosure__link caption-large focus-inset"
            href="#"
            hreflang="{{ language.iso_code }}"
            lang="{{ language.iso_code }}"
            {% if language.iso_code == localization.language.iso_code %}
              aria-current="true"
            {% endif %}
            data-value="{{ language.iso_code }}"
          >
            <span class="locale-option">
              <img
                src="https://flagcdn.com/{{ flag_code }}.svg"
                alt="Flag {{ language.endonym_name | escape }}"
                class="locale-flag"
                width="20"
                height="20"
                loading="lazy"
              >
              {{ language.endonym_name | capitalize }}
            </span>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
<input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
